.home {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Sometype Mono', monospace;
    height: 100%;
    width: 100%;
    color: #00d061;
    display: grid;
    grid-template-rows: 0.5fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}
.home>.intro>.content>p {
    margin: 0;
    padding: 0;
}
.intro {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 26pt;
    text-align: center;
    height: min-content;
    margin-top: 10px;
    font-size: 1em;
}
.content {
    background-color: #545454;
    height: 50%;
    width: 50%;
    border-radius: 20px;
}
.skills,.hobbies,.projects,.contact {
    background-color: #545454;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1em;
    line-height: 20pt;
    height: min-content;
    min-height: 100%;
}
.skills>p {
    text-align: center;
}
.skills,.hobbies,.projects,.contact>ul>ol {
    padding: 0;
}
a {
    color: #00d061;
}
@media only screen and (max-width: 1035px) {
    .intro {
        font-size: 0.8em;
    }
    .skills,.hobbies,.projects,.contact {
        font-size: 0.8em;
    }
}

@media only screen and (max-width: 825px) {
    .intro {
        font-size: 0.6em;
    }
    .skills,.hobbies,.projects,.contact {
        font-size: 0.6em;
    }
}

@media only screen and (max-width: 722px) {
    .skills,.hobbies,.projects,.contact {
        font-size: 0.5em;
    }
}
@media only screen and (max-width: 638px) {
    .intro {
        font-size: 0.6em;
    }
}
@media only screen and (max-width: 610px) {
    .intro {
        font-size: 0.5em;
    }
    .skills,.hobbies,.projects,.contact {
        font-size: 0.3em;
    }
}

@media only screen and (max-width: 426px) {
    .intro {
        font-size: 0.3em;
    }
    .skills,.hobbies,.projects,.contact {
        font-size: 0.3em;
    }
}
@media only screen and (max-width: 420px) {
    .home {
        gap: 2px;
    }
    .intro {
        font-size: 0.2em;
    }
    .skills,.hobbies,.projects,.contact {
        font-size: 0.2em;
        
    }
}